In [1]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

: Msg 156, Level 15, State 1, Line 1
Incorrect syntax near the keyword 'as'.

: Msg 128, Level 15, State 1, Line 4
The name "Hello Capstone Project Course!" is not permitted in this context. Valid expressions are constants, constant expressions, and (in some contexts) variables. Column names are not permitted.